.selectize-input {
  height: 20px;
  width: 100px;
  font-size: 10pt;
  padding-top: 1px
}

/*
.btn-file{
  height: 20px;
  width: 100px;
  font-size: 10pt;
  padding-top: 1px
}

.progress-bar {
  background-color: red;
  }
*/
